*{
  margin:0;
  padding:0;
  font-family: openSansLight;
}
@font-face {
  font-family: openSansLight;
  src: url("fonts/openSansLight.ttf") format("opentype");
}
.header{
  background: url(img/header.jpg) no-repeat; 
  width: 100%;
  min-height: 1000px;
  padding: 1px;
  position: relative; 
  box-sizing: border-box;
  background-size: cover;   /*почему без min-height не работает и картинка обрезается?? */  
  background-color: cornflowerblue;  
}
.header .img{
  position: absolute;
  left: 920px;
  top:260px;
}
.site{
  position:absolute;
  left: 30px;
  top: 70px;
  width: 200px;
  height: 30px;
  font-size: 10px;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  -webkit-transform: rotate(-90deg); //Chrome, Safari
  -moz-transform: rotate(-90deg); //Firefox
  -o-transform: rotate(-90deg); //Opera
  -ms-transform: rotate(-90deg); //IE
  transform: rotate(-90deg); //браузеры без префексов  
  
  
}
.header .site{
  left: 30px;
  top: 470px;}

.logo{ 
  position:absolute;
  left: 330px;
  top: 56px;  
}
.header-text{
  max-width: 450px;
  margin: 450px 0 0 330px; 
}

.header span.title{
  display: block;
  margin-bottom: 30px;
  color: white;
  font-size: 60px;
  line-height: 1;
}
.header span.text{
  color: white;
  font-size: 13px;
}


.layout-positioner{
  width:100%;
  padding: 0 300 0 330px;
  background: white;
  box-sizing: border-box;
  vertical-align: top;
}


.text-first{
  margin: 115px 0 80px;
  color: 959595;
}
.text-first .text{
  line-height:1.5;
}
.left-column{  
  max-width: 570px;
  float:left;
}
.right-column{
  float:left;
  max-width: 570px;
  margin-left: 40px;
  margin-top:  160px;
}

.left-column .title{
  display:block;
  margin-bottom: 20px;
  font-size: 35px;
  color: black;
}
.paragraph{
  display: block;
  margin-bottom: 20px;
}
.galery{
  font-size: 0;
  color: white;
}
.small-block{
  display: inline-block;
  width: 400px;
  height: 300px;  
  vertical-align: top;
}
.large-block{
  display: inline-block;
  font-size: 0;
  background-image: url(img/box-large.png);
  background-size: cover;
  width: 800px;
  height: 300px;
  vertical-align: top;
}
.large-block .content{
  width: 500px;
}
.small-block.first{
  background: #f5989d;
}
.small-block.second{
  background: #615f7d;
}
.small-block.third{
  background-image: url(img/box-small.png);
  background-size: cover;
}
.small-block.fourth{
  background: #82ca9c;
}

.galery .content{
  margin: 40px 40px 30px;
  position: relative;
}

.galery .title{
  display: block;
  margin-bottom: 10px;
  font-size:30px;
}
.galery .text{
  display: block;
  line-height: 1.5;
  font-size: 15px;
  height: 150px;
}
.link{
  display: block; 
  font-size:15px;
  font-weight: bolder;
}

.galery .third .link::after{
  content:"♡";
  font-size: 30px;  
  position: absolute;
  right: 20px;
  bottom: 10px;
  width: 20px;
  height: 20px;  
}

.four-column-block{
  margin: 50px 0;
  color: black;
  
}
.title-block{ 
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 50px;
}
.four-column-block .column{
  display:inline-block;
  width: 280px;
  max-height: 400px;
  margin-right: 20px;  
  vertical-align: top;
}

.column .text{
  line-height: 1.5;
  font-size: 15px;  
}

.column .title{
  display: block;
  font-weight: bold;
  margin-bottom: 20px;
  
}

.full-img{
  color:white;  
  background-image: url(img/full-img.png);
  background-size: cover;
  width:100%;
  height: 1000px;
  overflow: auto; /*магия против схлопывания margin-ов*/
}


.full-img .content{
  margin: 500px 0 0 330px;
  max-width: 600px;
}
.full-img .content .title{
  font-size: 65px;
  display: block;
  margin-bottom: 40px;
  line-height: 1.3;
}
.full-img .content .text{
  font-size: 15px;
  display: block;
  line-height: 2;
  margin-bottom: 40px;
}


.three-column-block{
  font-family: openSansLight;
  color: white;
  background-color: #82ca9c;
  width: 100%;
  overflow: auto;
  position: relative;
}


.three-column-block .layout-positioner{
  background: none;
  margin: 50px 0;
}
.column{
  display:inline-block;
  width: 400px;
  max-height: 400px;
  margin-right: 20px;  
  vertical-align: top;
}

.left-form, .right-form{
  margin: 150px 130px 0 100px;
  width: 450px;
  color: #8297a7;
  font-size: 15px;
  display: inline-block;
  vertical-align: top;
}

.form-block .label{ 
  width: 100px;
  height: 15px;
  text-transform: uppercase;
  background: #e1e1e1;
  border-radius: 5px;
  border: 1px transparent;
  font-size: 10px;
  text-align: center;
  padding: 5px;  
  color:white;
}
.label span{ 
  display: block;
  margin: 2px;
  font-weight: bold;
  font-size: 10px;
  letter-spacing: 2px;
}

.form-block{
  background: #f6f7fa;
  overflow: auto;
  padding-bottom: 150px;
  position: relative;
}
.form-block .layout-positioner{background: none; }

.form-block .title{
  font-size: 40px;
  display: block;
  margin: 20px 0;
  color: black;
}

.form-block .text{
  font-size: 15px;
  line-height: 2;
}

button {
  background-color: #82ca9c;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;    
  display: inline-block;
  font-size: 13px;
  text-transform: uppercase;
  font-weight: bold;
  border-radius: 5px;
  margin-top: 20px;
}
.badges{ margin-top: 20px;}

.right-form{
  margin: 115px 0 0 20px;
  background-color: white;
  padding: 40px 50px 40px 40px;
  box-shadow: 0 0 50px rgba(0,0,0,0.2)
}
.right-form .label {
  background-color: #bd8cbf;
  width: 150px;
}
.form-block .site{
  color: #b8b8b8;
  top: 110px;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}
