*{
  margin:0;
  padding:0;
}
@font-face {
  font-family: openSansLight;
  src: url("fonts/openSansLight.ttf") format("opentype");
}
.header{
  background: url(img/header.jpg) no-repeat;
  background-size: cover; /*почему без min-width не работает и картинка обрезается?? */
  min-width: 1800px;
  width: 100%;
  min-height: 950px;
  padding: 450px 0 0 316px; 
  position: relative; 
  box-sizing: border-box;
}
.header .img{
  position: absolute;
  left: 820px;
  top:260px;
}
.logo{ 
  position:absolute;
  left: 316px;
  top: 56px;  
}
.header-text{
  max-width: 450px;
}

.header span.title{
  display: block;
  margin-bottom: 30px;
  font-family: openSansLight;
  color: white;
  font-size: 60px;
  line-height: 1;
}
.header span.text{
  font-family: openSansLight;
  color: white;
  font-size: 13px;
}


.layout-positioner{
  width:100%;
  padding: 0 0 0 316px;
  background: white;
  box-sizing: border-box;
}
.text-first{
  margin: 115px 0 80px;
  color: 959595;
}
.text-first .text{
  line-height:1.5;
}
.left-column{  
  max-width: 570px;
  float:left;
}
.right-column{
  float:left;
  max-width: 570px;
  margin-left: 30px;
  margin-top:  160px;
}

.left-column .title{
  display:block;
  margin-bottom: 20px;
  font-size: 35px;
  color: black;
}
.paragraph{
  display: block;
  margin-bottom: 20px;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}
